<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for item in posts %}
        <h1>{{ item.title }}</h1>
    <a href="{% url 'detail' item.pk %}">Подробнее</a>
        <hr>
    {% endfor %}
    <a href="{% url 'detail' item.pk %}">Создать</a>
    <a href="{% url 'detail' item.pk %}">Удалить</a>


<from method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</from>

{% os img_obj %}
    <h3>Successfully uploaded : {{ img_obj.title }}</h3>
    <img src="{{ img_obj.url }}" alt="connect" style="max-height:300px">
{% endif %}
</body>
</html>